.cart {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 80%;
  max-width: 1200px;
  margin: 10% auto;

  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 70%;
  margin: 5% auto;
}

.cart__item-img {
  width: 146px;
}

.cart__delete-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 10%;
  text-align: justify;
  align-items: end;
}

.cart__amount {
  text-align: end;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}


.cart__submit {
  min-width: 300px;
  max-width: 348px;
  background-color: #1C1C27;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;


  color: #FFFFFF;
  background: #101010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 22px 12px;
}

.cart__buttons-ctrl {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.cart__button_ctrl {
  border: none;
  width: 35.17px;
  height: 30px;
  background: #FFCE7F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon-plus {
  position: absolute;
  background: #FFFFFF;
  width: 14px;
  height: 2px;
}

.icon-plus_v {
  transform: rotate(-90deg);
}

.cart__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
